<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
</div>

<!-- display after submit is sent -->
<div *ngIf="orderSent" class="m-2 text-center">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button class="btn btn-primary" routerLink="/store">Return to Store</button>
</div>

<form *ngIf="!orderSent" class="m-2" novalidate [formGroup]="form" (ngSubmit)="submitOrder(form)">
  <div class="bg-danger text-white p-2 m-2" *ngIf="submitted && form.invalid">
    There are problems in this form
    <ul>
      <li *ngFor="let error of form.getFormValidationMessages(form)">
        {{error}}
      </li>
    </ul>
  </div>

  <!--  这里不用这种方法是因为有很多不同的选项，还有排版的需求-->
  <!--  <div class="form-group">-->
  <!--    <label>First Name</label>-->
  <!--    <input class="form-control" name="firstName"-->
  <!--           formControlName="firstName">-->
  <!--    <ul class="text-danger list-unstyled" *ngIf="(submitted || form.controls['firstName'].dirty) && form.controls['name'].invalid">-->
  <!--      <li *ngFor="let error of form.orderControls['firstName'].getValidationMessages()">-->
  <!--        {{error}}-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->

  <div class="form-row">
    <!-- Title -->
    <div class="form-group col">
      <label>Title</label>
      <select class="form-control" name="title" formControlName="title">
        <option value=""></option>
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Ms">Ms</option>
        <option value="Miss">Miss</option>
      </select>
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['title'].dirty) && form.controls['title'].invalid">
        <li *ngFor="let error of form.orderControls[0].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>

    <!--First Name-->
    <div class="form-group col-5">
      <label>First-Name</label>
      <input class="form-control" name="firstName"
             formControlName="firstName">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['firstName'].dirty) && form.controls['firstName'].invalid">
        <li *ngFor="let error of form.orderControls[1].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>

    <!--Last Name-->
    <div class="form-group col-5">
      <label>Last Name</label>
      <input class="form-control" name="lastName"
             formControlName="lastName">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['lastName'].dirty) && form.controls['lastName'].invalid">
        <li *ngFor="let error of form.orderControls[2].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>

  </div>

  <!--Address-->
  <div class="form-group">
    <label>Address</label>
    <input class="form-control" name="address"
           formControlName="address">
    <ul class="text-danger list-unstyled"
        *ngIf="(submitted || form.controls['address'].dirty) && form.controls['address'].invalid">
      <li *ngFor="let error of form.orderControls[3].getValidationMessages()">
        {{error}}
      </li>
    </ul>
  </div>

  <div class="form-row">
    <!--Zip Code-->
    <div class="form-group col-2">
      <label>Zip Code</label>
      <input class="form-control" name="zip" formControlName="zip">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['zip'].dirty) && form.controls['zip'].invalid">
        <li *ngFor="let error of form.orderControls[4].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>

    <!--city-->
    <div class="form-group col-2">
      <label>City</label>
      <input class="form-control" name="city" formControlName="city">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['city'].dirty) && form.controls['city'].invalid">
        <li *ngFor="let error of form.orderControls[5].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>
    <!-- state-->
    <div class="form-group col-2">
      <label>State</label>
      <input class="form-control" name="state" formControlName="state">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['state'].dirty) && form.controls['state'].invalid">
        <li *ngFor="let error of form.orderControls[6].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>
    <!--country-->
    <div class="form-group col-2">
      <label>Country</label>
      <input class="form-control" name="country" formControlName="country">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['country'].dirty) && form.controls['country'].invalid">
        <li *ngFor="let error of form.orderControls[7].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>

    <div class="form-group col-2">
      <label>Price</label>
      <input class="form-control" name="price" formControlName="price">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['price'].dirty) && form.controls['price'].invalid">
        <li *ngFor="let error of form.orderControls[8].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>
  </div>

  <!--Email-->
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" formControlName="email">
    <ul class="text-danger list-unstyled"
        *ngIf="(submitted || form.controls['email'].dirty) && form.controls['email'].invalid">
      <li *ngFor="let error of form.orderControls[9].getValidationMessages()">
        {{error}}
      </li>
    </ul>
  </div>

  <div class="form-row">
    <!--password-->
    <div class="form-group  col-5">
      <label>Password</label>
      <input class="form-control" name="password" formControlName="password">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['password'].dirty) && form.controls['password'].invalid">
        <li *ngFor="let error of form.orderControls[10].getValidationMessages()">
          {{error}}
        </li>
      </ul>
    </div>

    <!--  Confirm password-->
    <div class="form-group col-5">
      <label>Confirm Password</label>
      <input class="form-control" name="confirmPassword" formControlName="confirmPassword">
      <ul class="text-danger list-unstyled"
          *ngIf="(submitted || form.controls['confirmPassword'].dirty) && form.controls['confirmPassword'].invalid">
        <li *ngIf="form.controls['password'].value !== form.controls['confirmPassword'].value">
          Password must match
        </li>
      </ul>
    </div>

  </div>

  <!--    Final Terms and Conditions-->
  <div class="form-group form-check">
    <input class="form-check-input"
           formControlName="acceptTerms"
           type="checkbox"
           name="acceptTerms"
           [ngClass]="{ 'is-invalid':submitted &&  form.controls['acceptTerms'].invalid }">
    <label class="form-check-label">Accept Terms & Conditions</label>
    <ul class="text-danger list-unstyled" *ngIf="(submitted || form.controls['acceptTerms'].dirty ) && form.controls['acceptTerms'].invalid" >
      <li *ngFor="let error of form.orderControls[12].getValidationMessages()">
        {{error}}
      </li>
    </ul>
  </div>


  <div class="text-center">
    <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
    <button class="btn btn-primary m-1" type="submit"
            [disabled]="submitted && form.invalid"
            [class.btn-secondary]="submitted && form.invalid">Complete Order
    </button>
  </div>
</form>
