<!---->
<!--Template driven form-->
<!---->

<div class="container-fluid">
    <div class="row">
      <div class="col bg-dark text-white">
        <a class="navbar-brand">SPORTS STORE</a>
      </div>
    </div>
  </div>

  <!-- display after submit is sent -->
  <div *ngIf="orderSent" class="m-2 text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll ship your goods as soon as possible.</p>
    <button class="btn btn-primary" routerLink="/store">Return to Store</button>
  </div>



  <!-- display before submit is sent -->
  <form *ngIf="!orderSent" #form="ngForm" novalidate
        (ngSubmit)="submitOrder(form)" class="m-2">

<!--    To display all the problems on the top of the page-->
    <div *ngIf="submitted && form.invalid"
         class="bg-danger text-white p-2 mb-2" >
      There are some problems with the form
      <ul>
        <li *ngFor="let error of getFormValidationMessages(form)">
          {{error}}
        </li>
      </ul>
    </div>


    <div class="form-row">
<!-- Title -->
      <div class="form-group col">
        <label>Title</label>
        <select class="form-control"
               #title="ngModel"
               name="title"
               [(ngModel)]="order.title"
                required>
          <option value=""></option>
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Ms">Ms</option>
          <option value="Miss">Miss</option>
        </select>
        <ul class="text-danger list-unstyled" *ngIf="(submitted || title.dirty) && title.invalid">
          <li *ngFor="let error of getValidationMessages(title)">
            {{error}}
          </li>
        </ul>
      </div>

<!--  First  Name-->
      <div class="form-group col-5">
        <label>First Name</label>
        <input class="form-control ng-pristine ng-invalid ng-touched"
               name="firstName"
               required
               minlength="2"
               pattern="^[A-Za-z]+$"
               #firstName="ngModel"
               [(ngModel)]="order.firstName">
        <ul class="text-danger list-unstyled" *ngIf="(submitted || firstName.dirty) && firstName.invalid">
          <li *ngFor="let error of getValidationMessages(firstName)">
            {{error}}
          </li>
        </ul>
      </div>

<!--  Last  Name-->
      <div class="form-group col-5">
        <label>Last Name</label>
        <input class="form-control ng-pristine ng-invalid ng-touched"
               name="lastName"
               required
               minlength="2"
               pattern="^[A-Za-z]+$"
               #lastName="ngModel"
               [(ngModel)]="order.lastName">
        <ul class="text-danger list-unstyled" *ngIf="(submitted || lastName.dirty) && lastName.invalid">
          <li *ngFor="let error of getValidationMessages(lastName)">
            {{error}}
          </li>
        </ul>
      </div>
    </div>


<!-- Address -->
    <div class="form-group">
      <label>Address</label>
      <input class="form-control ng-pristine ng-invalid ng-touched"
             #address="ngModel"
             name="address"
             [(ngModel)]="order.address"
             required
             pattern="^[a-zA-Z0-9\s,'-.]*$"/>
      <ul class="text-danger list-unstyled" *ngIf="(submitted || address.dirty) && address.invalid">
        <li *ngFor="let error of getValidationMessages(address)">
          {{error}}
        </li>
      </ul>
    </div>


    <div class="form-row">
<!--zip code-->
      <div class="form-group col-2">
        <label>Zip Code</label>
        <input class="form-control"
               #zip="ngModel"
               name="zip"
               [(ngModel)]="order.zip"
               required
               minlength="3"
               maxlength="10"
               pattern="^\d*$"/>
        <ul class="text-danger list-unstyled" *ngIf="(submitted || zip.dirty) && zip.invalid">
          <li *ngFor="let error of getValidationMessages(zip)">
            {{error}}
          </li>
        </ul>
      </div>
<!-- city -->
      <div class="form-group col-3">
        <label>City</label>
        <input class="form-control"
               #city="ngModel"
               name="city"
               [(ngModel)]="order.city"
               required
               pattern="^[A-Za-z\säüößÜÖÄ]+$"/>
        <ul class="text-danger list-unstyled" *ngIf="(submitted || city.dirty) && city.invalid">
          <li *ngFor="let error of getValidationMessages(city)">
            {{error}}
          </li>
        </ul>
      </div>
<!-- State -->
      <div class="form-group col-3">
        <label>State</label>
        <input class="form-control"
               #state="ngModel"
               name="state"
               [(ngModel)]="order.state"
               required
               pattern="^[A-Za-z\säüößÜÖÄ]+$"/>
        <ul class="text-danger list-unstyled" *ngIf="(submitted || state.dirty) && state.invalid">
          <li *ngFor="let error of getValidationMessages(state)">
            {{error}}
          </li>
        </ul>
      </div>

<!-- Country -->
      <div class="form-group col-3">
        <label>Country</label>
        <input class="form-control"
               #country="ngModel"
               name="country"
               [(ngModel)]="order.country"
               required
               pattern="^[A-Za-z\sß]+$"/>
        <ul class="text-danger list-unstyled" *ngIf="(submitted || country.dirty) && country.invalid">
          <li *ngFor="let error of getValidationMessages(country)">
            {{error}}
          </li>
        </ul>
      </div>

    </div>

<!--    Email  -->
<!--    Email 可以自己表单验证，只要加上email在 input 里面就可以，但是无法进行报错-->
    <div class="form-group">
      <label>Email</label>
      <input class="form-control"
             #email="ngModel"
             name="email"
             [(ngModel)]="order.email"
             required
             email>
      <ul class="text-danger list-unstyled" *ngIf="(submitted || email.dirty) && email.invalid">
        <li *ngFor="let error of getValidationMessages(email)">
          {{error}}
        </li>
      </ul>
    </div>


<!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <input class="form-control"
             #password="ngModel"
             name="password"
             [(ngModel)]="order.password"
             required
             minlength="8"
             pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$">
      <ul class="text-danger list-unstyled" *ngIf="(submitted || password.dirty) && password.invalid">
        <li *ngFor="let error of getValidationMessages(password)">
          {{error}}
        </li>
      </ul>
    </div>
    
<!-- Confirm Password -->
    <div class="form-group">
      <label>Confirm Password</label>
      <input class="form-control"
             #confirmPassword="ngModel"
             name="confirmPassword"
             [(ngModel)]="order.confirmPassword"
             required
             minlength="8"
             pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$">
      <ul class="text-danger list-unstyled" *ngIf="(submitted || confirmPassword.dirty) || confirmPassword.invalid">
        <li *ngIf="password.value !== confirmPassword.value">
          Password must match
        </li>
      </ul>
    </div>

<!--    Final Terms and Conditions-->
      <div class="form-group form-check">
        <input class="form-check-input"
               [ngClass]="{ 'is-invalid':submitted && acceptTerms.invalid }"
               type="checkbox"
               name="acceptTerms"
               required
               #acceptTerms="ngModel"
               [(ngModel)]="order.acceptTerms">
        <label class="form-check-label">Accept Terms & Conditions</label>
        <ul class="text-danger list-unstyled" *ngIf="(submitted || acceptTerms.dirty) && acceptTerms.invalid">
          <li *ngFor="let error of getValidationMessages(acceptTerms)">
            {{error}}
          </li>
        </ul>
      </div>


    <div class="text-center">
      <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
      <button class="btn btn-primary m-1" type="submit"
              [disabled]="submitted && form.invalid"
              [class.btn-secondary]="submitted && form.invalid">Complete Order</button>
    </div>
  </form>
