<!---->
<!--Reactive form-->
<!---->

<div class="bg-danger text-white p-2 mb-2" *ngIf="submitted && form.invalid">
  There are problems with the form
  <ul>
    <li *ngFor = 'let error of form.getFormValidationMessages()'>
      {{ error }}
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
</div>

<!-- display after submit is sent -->
<div *ngIf="orderSent" class="m-2 text-center">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button class="btn btn-primary" routerLink="/store">Return to Store</button>
</div>

<form *ngIf="!orderSent" #formGroup="ngForm" novalidate
      (ngSubmit)="submitOrder(form)" class="m-2">


  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" formControlName="name">
    <ul class="text-danger list-unstyled" *ngIf="(submitted || form.controls['name'].dirty) && form.controls['name'].invalid">
      <li *ngFor="let error of form.controls['name'].getValidationMessages()">
        {{error}}
      </li>
    </ul>
  </div>








  <div class="text-center">
    <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
    <button class="btn btn-primary m-1" type="submit">Complete Order</button>
  </div>
</form>
